<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Automatic License Plate Detection System</title>
    <link
      rel="shortcut icon"
      href="/static/assets/favicon.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>
  <body>
    <div class="video-background">
      <video src="/static/assets/video.mp4" autoplay muted loop></video>
    </div>
    <nav>
      <div class="nav-left">
        <input
          type="text"
          id="google-search"
          placeholder="Search with Google"
        />
        <button id="search-button">Search</button>
      </div>
      <div class="nav-right">
        <a href="/home" class="nav-button">Home</a>
        <a href="/login" class="nav-button">Login</a>
      </div>
    </nav>
    <main>
      <h1>Automatic License Plate Detection System</h1>
    </main>

    <script src="/static/js/home.js"></script>
  </body>
</html>
