<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/assets/favicon.jpg" type="image/x-icon">
    <title>ALPDS Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>
    <div class="video-background">
        <video src="/static/assets/video.mp4" autoplay muted loop></video>
    </div>
    <form id="login-form">
        <h2>Login</h2>
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>

    <script src="/static/js/login.js"></script>
</body>
</html>
