<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/static/assets/favicon.jpg"
      type="image/x-icon"
    />
    <title>ALPDS Result</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class="video-background">
      <video src="/static/assets/video.mp4" autoplay muted loop></video>
    </div>
    <h1 class="mainhead">Automatic License Plate Detection System</h1>
    <div class="container">
      <h2>Upload an Image for Processing</h2>
      <form
        id="upload-form"
        action="/process"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="image-upload" class="upload-btn">Choose Image</label>
        <input
          type="file"
          id="image-upload"
          name="image"
          accept="image/*"
          onchange="updateFileName(this)"
        />
        <button type="submit" class="upload-btn">Upload and Process</button>
        <span id="file-name">No file selected</span>
      </form>
      <div id="result">
        <h2>Recognized Text:</h2>
        <p id="recognized_text"></p>
        <h2>Output Image:</h2>
        <img
          id="output_image"
          src="/static/assets/sample.jpg"
          alt="Output Image"
        />
      </div>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
